{# 计算中regionserver的服务地址 #}
{% set regionserver = [] %}
{% for host in groups['hbase'] %}
{% if hostvars[host].regionserver is defined and hostvars[host].regionserver == "yes" %}
{{ regionserver.append(host) -}}
{% endif %}
{% endfor %}
{{ regionserver }}
