# folder
.idea/
.git/
inventory/cluster100
inventory/cluster131
inventory/cluster-hw

# hidden file
.ftpconfig
.history
.vscode
.ftpignore
.project

# common file
*.retry
*.iml
*.tar
*.tgz
*.tar.gz
*.zip
*.rar
*.rpm
*.war

# ignore test file
roles/test
00.test.yaml

# business ignore
roles/dolphin/templates/hadoop
roles/dolphin/files/hadoop.keytab
