#!/bin/bash

status() {
    {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} endpoint status --write-out=table
}

list() {
    {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} member list --write-out=table
}

start() {
    ts=`date "+%Y-%m-%d_%H:%M:%S"`
    echo -e "\n----------- start ----------- ${ts}"

    pid=`ps -ef | grep "name={{ etcd_name }}" |  grep "{{ etcd_home }}" | grep -v "grep" | grep -v "proxy" | awk '{print $2}'`

    if [ X"" = X"$pid" ]; then
        echo "start etcd member, name={{ etcd_name }}"
    else
        echo "etcd member is running now, pid=${pid}, name={{ etcd_name }}"
        return 0
    fi

    echo "etcd starting!"
    {{ etcd_home }}/etcd --name={{ etcd_name }} --config-file={{ etcd_conf_dir }}/etcd.yaml
    if [ $? -ne 0 ]; then
        return 1
    fi
    return 0
}

stop() {
    ts=`date "+%Y-%m-%d_%H:%M:%S"`
    echo -e "\n----------- stop ----------- ${ts}"

    pid=`ps -ef | grep "name={{ etcd_name }}" |  grep "{{ etcd_home }}" | grep -v "grep" | grep -v "proxy" | awk '{print $2}'`
    echo "pid="${pid}
    if [ X"" = X"$pid" ]; then
        echo "etcd member not run, name={{ etcd_name }}"
        return 1
    fi

    kill -9 $pid
    if [ $? -ne 0 ]; then
        echo "kill etcd member fail, pid=$pid, name={{ etcd_name }}"
        return
    fi

    return 0
}

start-proxy() {
    ts=`date "+%Y-%m-%d_%H:%M:%S"`
    echo -e "\n----------- start ----------- ${ts}"

    pid=`ps -ef | grep "{{ etcd_home }}" | grep -v "grep" | grep "proxy" | awk '{print $2}'`

    if [ X"" = X"$pid" ]; then
        echo "start etcd proxy"
    else
        echo "etcd proxy is running now, pid=${pid}"
        return 0
    fi

    echo "etcd starting!"
    {{ etcd_home }}/etcd --proxy readonly --listen-client-urls http://0.0.0.0:{{ etcd_proxy_port }} --initial-cluster {{ etcd_initial_cluster }} --data-dir {{ etcd_proxy_data_dir }}
    if [ $? -ne 0 ]; then
        return 1
    fi
    return 0
}

stop-proxy() {
    ts=`date "+%Y-%m-%d_%H:%M:%S"`
    echo -e "\n----------- stop ----------- ${ts}"

    pid=`ps -ef |  grep "{{ etcd_home }}" | grep -v "grep" | grep "proxy" | awk '{print $2}'`
    echo "pid="${pid}
    if [ X"" = X"$pid" ]; then
        echo "etcd member not run, name={{ etcd_name }}"
        return 1
    fi

    kill -9 $pid
    if [ $? -ne 0 ]; then
        echo "kill etcd member fail, pid=$pid, name={{ etcd_name }}"
        return
    fi

    return 0
}

compact() {
    ts=`date "+%Y-%m-%d_%H:%M:%S"`
    echo -e "\n----------- compact ----------- ${ts}"

    {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} alarm list
    count=1
    while [ $count -lt 2 ]
    do
       echo -e "\ncompact db count: $count"
       count=`expr $count + 1`

       # 先分析能不能获取状态结果(成功:0; 失败:1)，就没有必要进行压缩等动作。示例：如果通信失败时可能得不到状态。
       statusInfo=$({{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} endpoint status 2>&1)
       statusResult=$?
       echo "Execute 'etcdctl endpoint status' result: ${statusResult}"
       echo "Execute 'etcdctl endpoint info' result: '${statusInfo}'"

       if [ $statusResult -eq 0 ]; then
           rev=$({{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} endpoint status --write-out="json" | egrep -o '"revision":[0-9]*' | egrep -o '[0-9].*')

           if [ X"$rev" == X"" ]; then
             echo "Can't get etcd revision."
             break
           fi

           # 打印开始时间
           ts_start=`date "+%Y-%m-%d_%H:%M:%S"`
           echo "compact start at ${ts_start}"

           echo "etcd compact, rev=${rev}"
           compactInfo=$({{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} --command-timeout=60s compact ${rev} 2>&1)
           compactResult=$?

           # 打印结束时间
           ts_end=`date "+%Y-%m-%d_%H:%M:%S"`
           echo "compact end at ${ts_end}"
           echo "${ts_start} -> ${ts_end}" > {{ etcd_home }}/compact.info

           # 打印压缩的情况
           echo "Execute 'etcdctl compact rev' result: ${compactResult}"
           echo "Execute 'etcdctl compact rev' info: '${compactInfo}'"

           # 经常会出现，已经压缩过了（该修订版已经压缩）的报错，这对运行效果没有影响。也可以退出了。
           compactInfoContainError=$(echo ${compactInfo} | grep 'required revision has been compacted' | grep -v grep)
           if [ -n "$compactInfoContainError" ]; then
             return 1
           fi

           # 压缩执行结果没有问题就直接退出了。
           if [ $compactResult -eq 0 ]; then
             return 0
           fi
       fi

       sleep 3
    done

    return 1
}

defrag() {
    ts=`date "+%Y-%m-%d_%H:%M:%S"`
    echo -e "\n----------- defrag ----------- ${ts}"

    count=1
    while [ $count -lt 2 ]
    do
       echo -e "\ndefrag db count: ${count}"
       count=`expr $count + 1`

       # 打印开始时间
       ts_start=`date "+%Y-%m-%d_%H:%M:%S"`
       echo "defrag start at ${ts_start}"

       {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} --command-timeout=300s defrag
       defragResult=$?

       # 打印结束时间
       ts_end=`date "+%Y-%m-%d_%H:%M:%S"`
       echo "defrag end at ${ts_end}"
       echo "${ts_start} -> ${ts_end}" > {{ etcd_home }}/defrag.info

       # 打印碎片整理的情况
       echo "Execute 'etcdctl defrag' result: ${defragResult}"

       if [ $defragResult -eq 0 ]; then
           {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} alarm disarm
           return 0
       fi

       sleep 3
    done

    return 1
}

disarm() {
    ts=`date "+%Y-%m-%d_%H:%M:%S"`
    echo -e "\n----------- disarm ----------- ${ts}"

    {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} alarm disarm
    return 0
}

# 查看绑定的lease的关联keys
lease() {
    cat /dev/null > /tmp/etcd_lease
    {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} lease list | sed '1d' | while read line
    do
        {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} lease timetolive $line --keys >> /tmp/etcd_lease
    done

    sort -t ',' -k 3 /tmp/etcd_lease

    return 0
}

snapshot() {
    # ts=`date "+%Y-%m-%d_%H:%M:%S"`
    snapshot_db=$1
    {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} snapshot save {{ etcd_snapshot_home }}/${snapshot_db}
}

restore() {
    db=$1
    if [ ! -f $db ]; then
        echo "snapshot db file not exist"
        return 1
    fi

    {{ etcd_home }}/etcdctl --endpoints={{ etcd_endpoints }} snapshot restore {{ etcd_home }}/${db} --data-dir {{ etcd_data_dir }}
    if [ $? -ne 0 ]; then
        echo "snapshot restore ${db} fail"
        return 1
    fi
	return 0
}

ionice() {
    ts=`date "+%Y-%m-%d_%H:%M:%S"`
    echo -e "\n----------- ionice ----------- ${ts}"

    pid=`ps -ef | grep "name={{ etcd_name }}" |  grep "{{ etcd_home }}" | grep -v "grep" | awk '{print $2}'`
    echo "pid="${pid}
    if [ X"" = X"$pid" ]; then
        echo "etcd member not run, name={{ etcd_name }}"
        return 1
    fi

    echo "before ionice"
    /usr/bin/ionice -c 2 -n 0 -p $pid
    echo "after ionice"
    if [ $? -ne 0 ]; then
        echo "ionice etcd process fail, pid=$pid, name={{ etcd_name }}"
        return
    fi

    return 0
}

########################################
################执行命令################
########################################
export ETCDCTL_API=3

result=0
if [ "$1" == "start" ]; then
    start
    result=$?
elif [ "$1" == "stop" ]; then
    stop
    result=$?
elif [ "$1" == "start-proxy" ]; then
    start-proxy
    result=$?
elif [ "$1" == "stop-proxy" ]; then
    stop-proxy
    result=$?
elif [ "$1" == "status" ]; then
    status
elif [ "$1" == "list" ]; then
    list
elif [ "$1" == "lease" ]; then
    lease
    result=$?
elif [ "$1" == "snapshot" ]; then
    if [ X"$2" == X"" ]; then
        snapshot snapshot.db
    else
        snapshot $2
    fi
    result=$?
elif [ "$1" == "restore" ]; then
    if [ X"$2" == X"" ]; then
        restore snapshot.db
    else
        restore $2
    fi
    result=$?
elif [ "$1" == "restart" ]; then
    stop
    result=$?
    if [ $result -ne 0 ]; then
        exit 1
    fi
    start
    result=$?
elif [ "$1" == "compact" ]; then
    compact
    result=$?
elif [ "$1" == "defrag" ]; then
    defrag
    result=$?
elif [ "$1" == "disarm" ]; then
    disarm
    result=$?
elif [ "$1" == "ionice" ]; then
    ionice
    result=$?
elif [ X"$1" == X"" ]; then
    echo "etcd command is empty!"
    result=1
else
    result=1
fi

if [ $result -ne 0 ]; then
    echo "$1 fail"
else
    echo "$1 success"
fi

exit $result
