{% if kafka_ssl_enable|lower == "true" %}
security.protocol=SSL
ssl.truststore.location={{ ssl_path }}/{{ ssl_client_ts }}
ssl.truststore.password={{ ssl_client_ts_password }}
ssl.keystore.location={{ ssl_path }}/{{ ssl_client_ks }}
ssl.keystore.password={{ ssl_client_ks_password }}
ssl.key.password={{ ssl_client_key_password }}
{% endif %}
