{% set jobmanagers = [] %}
{% for host in groups['flink'] %}
{% if hostvars[host].jobmanager is defined and hostvars[host].jobmanager == "yes" %}
{{ jobmanagers.append(host) -}}
{% endif %}
{% endfor %}
{% for i in jobmanagers %}
{% if loop.first %}
{{ i -}}
{% endif %}
{% endfor %}