yarn.nodemanager.linux-container-executor.group={{ install_user }}
yarn.nodemanager.container-executor.class=org.apache.hadoop.yarn.server.nodemanager.LinuxContainerExecutor
banned.users=bin
min.user.id={{ userid.stdout }}
allowed.system.users={{ install_user }},root
